#root{
    width: 100%;
    padding: none;
    /*background-color: #252525;*/
    font-family: "Outfit", sans-serif;
}

body{
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.NavContainer{
  background-color: #181818;
  width: 100%;
  display: flex;
}
nav {
  overflow: hidden;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 0 auto;
}
  
  /* Style the links inside the navigation bar */
nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
  
  /* Change the color of links on hover */
nav a:hover {
    background-color: #0a0a0a;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
}
  
  /* Add a color to the active/current link */
nav a.active {
    background-color: #04AA6D;
    color: white;
}
.logo{
  padding-left: 10px;
}
.logo .link{
  text-decoration: none;
  color: white;
}
.userButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.userButtons .link{

  margin: 0 auto;
  background-color: none;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #181818;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFD700;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.userButtons .link:hover{
  background-color: #0c0c0c;
  color: #FFD700;
  transition: 0.3s;
}

.profile-container {
  position: relative;
  cursor: pointer;
}

.profile-image {
  width: 40px; /* Ajusta el tamaño según sea necesario */
  height: 40px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hace que la imagen sea redonda */

  top: 10px; /* Ajusta la posición vertical según sea necesario */
  right: 20px; /* Ajusta la posición horizontal según sea necesario */
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 75px; /* Coloca el menú debajo de la imagen */
  right: 0;
  background-color: #fff; /* Cambia el color de fondo según sea necesario */
  border: 1px solid #ccc; /* Añade un borde al menú */
  border-radius: 5px; /* Hace que los bordes del menú sean redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra al menú */
  z-index: 1; /* Asegura que el menú aparezca por encima de otros elementos */
  padding: 10px; /* Añade relleno al menú para que los elementos no estén demasiado cerca del borde */
}

.dropdown-menu button,
.dropdown-menu a {
  display: block; /* Hace que los elementos dentro del menú se muestren como bloques */
  margin-bottom: 5px; /* Añade un espacio entre los elementos */
  color: #333; /* Cambia el color del texto según sea necesario */
  text-decoration: none; /* Quita el subrayado del enlace */
  cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón sobre los elementos */
}